<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div id="main">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
        <img id = "picArea"/>
        <div id="app">
            <div>添加品牌</div>
            <div>
                <span style="display: inline-block;">品牌名称</span>
                <input style="display: inline-block;" v-model="productName" placeholder="请输入品牌名称"/>
                <button  style="display: inline-block;" @click="add">添加</button>
            </div>
            <table style="width: 900px;">
                <thead>         
                    <tr style="text-align:left;">
                        <th style="width: 200px;">#</th>
                        <th>品牌名称</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>                    
                    </tr>
                </thead>
                <tbody>
                    <tr v-for ="(item,index) in list" :key="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            <input type="checkbox" v-model = "item.status" id="'cb'+index"/>
                            <label v-if="item.status" :for="'cb'+index">已禁用</label>
                            <label v-else :for="'cb'+index">已启用</label>
                        </td>
                        <td>{{item.time}}</td>
                        <td><a @click.prevent= "deleteItem(item.id)">删除</a></td>

                    </tr>

                </tbody>
            </table>
        </div>

        
    </div>
    <script src="/bundle.js"></script>
</body>
</html>